<div class="loginHtml">
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="submitLogin()">
              <div class="alert alert-danger" [hidden]="!error">
                {{error}}
              </div>  
                <div class="form-group">
                  <label for="username">Username</label>
                  <input name="text" [(ngModel)]="form.username" type="text" class="form-control" id="username" placeholder="Enter username" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input name="password" [(ngModel)]="form.password" type="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <div class="pt-2 text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
                </div>
              </form>
        </div>
    </div>
</div>